body {
  background-color: #121212;
  color: #2196f3;
}
input[type="text"]:focus {
  border: 3px solid #555;
}
input:focus {
  outline: 2px solid #2196f3;
  color: #121212;
  border: 1px solid black;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
}
